<html>
  <head></head>
  <body>
    <h1>Add Task</h1>
    <form method='POST' action='/create-task'>
      <input type='text' placeholder="Enter title" name="title" />
      <input type='text' placeholder="enter priority" name="priority"/>
      <button>Add task</button>
    </form>
  </body>
<html>