<html>
  <head></head>
  <body>
    <h1>Add Customer</h1>
    <form method='POST' action='/add-customer'>
      <input type='text' placeholder="Enter name" name="name" />
      <input type='text' placeholder="enter age" name="age"/>
      <button>Add</button>
    </form>
  </body>
<html>